/*IMPORT'S*/

@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Ropa;
  text-align: center;
  background-color: #282a36;
  color: #f8f8f2;
}

.logo {
  width: 155px;
  height: 155px;
}

.labelSize {
  font-size: 30px;
}

.container, .inputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
 }
 
 .quantity {
   margin-top: 10px;
   border: solid 1px #44475a;
   border-radius: 20px;
   font-size: 30px;
 }
 
 .btnGen {
   margin-top: 10px;
   font-size: 30px;
   border: 1px solid ;
   width: 120px;
   border-radius: 20px;
 }
 
 span {
   color: #bd93f9;
   display: flex;
   padding-top: 20px;
 }
 
@media only screen and (max-device-width: 900px) {
.logo {
  width: 55px;
  height: 55px;
}

.labelSize {
  font-size: 20px;
}

.container, .inputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
 }
 
 .quantity {
   margin-top: 10px;
   border: solid 1px #44475a;
   border-radius: 20px;
   font-size: 20px;
 }
}